.bg
{
        -fx-background-color: rgb(34, 51, 77);
}
.offersBg
{
    -fx-background-color: rgb(255, 51, 77);
}
.cent
{
    -fx-alignment: center;
}
.mainScreenbutton
{
    -fx-background-color: rgb(224, 224, 224);
    -fx-background-radius: 0
}
.mainScreenbutton:hover {
    -fx-background-color: rgb(208, 224, 219);
}

.mainScreenbutton:pressed {
    -fx-background-color: rgb(255, 255, 255);
}

#registerborder
{
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-border-color:white;
}
.offerScroll
{
    -fx-background: rgba(0,0,0, 0.15);
    -fx-background-color: transparent;
}