.bg
{
    -fx-background-color: rgb(184, 189, 197);
}
.cent
{
    -fx-alignment: center;
    -fx-padding: 10;
}
.mainScreenbutton
{
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-color: rgb(224, 224, 224);
    -fx-border-style: none;
}